.home {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;

  &__text-wrapper {
    display: flex;
    justify-content: center;

    h1 {
      color: var(---yellow-theme-main-color);
      margin: 0;
      font-weight: 200;
      font-size: 3rem;
      line-height: 4rem;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      
      animation: typingEffectAnimation 10.5s steps(30, end);
    }
  }

  &__contact-me {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    button {
      cursor: pointer;
      padding: 8px 50px;
      font-size: 2rem;
      background: transparent;
      color: var(---yellow-theme-main-color);
      border: 1.5px solid var(---yellow-theme-main-color);
      border-radius: 6px;
      font-weight: 500;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background: var(---yellow-theme-main-color);
        color: #833a66;
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: var(---yellow-theme-background-color);
    display: flex;
    justify-content: center;
    align-items: center;

    &__links {
      display: flex;
      align-items: center;

      a {
        color: #ac95d2;
        font-size: 1.5rem;
        margin-right: 20px;
        transition: color 0.3s;

        &:hover {
          color: #e69fe4;
        }
      }

      .home__footer__download {
        display: flex;
        align-items: center;
        color: #a06cb1;
        font-size: 1.5rem;
        transition: color 0.3s;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
          color: #ccc;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {
    &__text-wrapper h1 {
      font-size: 3rem;
      line-height: 5rem;
    }
  }

  @media only screen and (min-width: 551px) and (max-width: 768px) {
    &__text-wrapper h1 {
      font-size: 4rem;
      line-height: 6rem;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 990px) {
    &__text-wrapper h1 {
      font-size: 6rem;
      line-height: 8rem;
    }
  }
}

@keyframes typingEffectAnimation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
